.block {
    /* width: 100px;
    height: 200px; */
    max-width: 1000px;
    min-width: 800px;
    background:aquamarine;
    max-height: 100px;
    min-width: 200px;
}

.inline {
width: 1000px;
height: 100px;
background: #ad3ead;
    /* max-width: ;
    min-width: ;
    max-height: ;
    min-height: ; */
}

.img {
    width: 300px;
    height: 200px;
}