.body {
    font-size: 40px;
    background: #16171b;
    margin: 20px;
    color: #fff;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
.flexbox {
    display: flex;
    border: 20px solid #edddbd;
    height: 50vh;
    min-height: 150vh;
    box-shadow: 0 0 3.75rem -0.625rem #00000066;
}
.flexbox__item {
    border: 20px solid #b9a874;
}
.flexbox__item:nth-child(2) .flexbox__content {
    padding: 60px 40px;
}
.flexbox__content {
    border: none;
    padding: 40px;
    background: linear-gradient(#6f4916, #7e5926);
}
/* =================== */
/* .flexbox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.flexbox__item-one {
    align-self: start;
    order: 3;
    flex-basis: 30%;
}
.flexbox__item-two {
order: 2;
flex-basis: 400px;
flex-grow: 1;
flex-shrink: 1;
}
.flexbox__item-three {
order: 1;
flex-basis: auto;
flex: 0 1 auto;
} */
.flexbox {
    flex-direction: row-reverse;
    /* align-items: center; */
    justify-content: space-between;
}
