body {
    background-color: #1a1a1c;
    color: #fff;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background: #3b3a3d;
    border-radius: 15px;
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
}

.box span {
    opacity: 0;
}

.box__scale {
    position: absolute;
    top: -100px;
    left: -300px;
    right: 600px;
    height: 30px;
    background: #fff;
}

.box:hover .box__scale {
    right: -300px;
}

.box:hover span {
    opacity: 1;
}

/* ================== Выполнение дз ниже =================== */

.box:hover .box__scale {
    transition: 3s;
    background: #f12a07;
    color: black;
}

.box:hover {
    background: #f12a07;
    color: #000;
    transition: 3s;
}
