/* ==================== GLOBAL ======================= */

:root {
    --general-text: #312C27;
    --general-bg: #F8FCFF;
    --accent-color: #FFA55C;
    --accent-text: #1F1711;
    --accent-bg: #FFE0CB;

}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: var(--general-bg);
    color: var(--accent-text);
    line-height: 1.5;
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    flex-direction: column;
    overflow: hidden;
    display: flex;
    width: 100%;
    min-height: 100%;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    background: var(--accent-color);
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    display: flex;
    height: 62px;
    border-radius: 60px;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 500;
    transition: all .4s;
}

.button:hover {
    background: #FF9138;
}

/* ==================== HEADER ======================= */


.header {
    background: url("../images/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding: 19px;
}

.header__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: "";
    position: absolute;
    background: var(--accent-color);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    top: -8px;
    left: -13px;
    z-index: -1;
    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

.burger__icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger__icon span,
.burger__icon span::before,
.burger__icon span::after {
    background: var(--general-text);
    display: block;
    border-radius: 100px;
    width: 30px;
    height: 3px;
    transition: all .4s;
}

.burger__icon span {
    position: relative;
}

.burger__icon span::before,
.burger__icon span::after {
    content: '';
    position: absolute;
}

.burger__icon span::after {
    bottom: -8px;
}

.burger__icon span::before {
    top: -8px;
}

.body--opened-menu .burger__icon span {
    background: transparent;
}

.body--opened-menu .burger__icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger__icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ==================== HERO_SECTION ======================= */

.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    color: #B197B2;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: "";
    background: #B197B2;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    color: var(--accent-text);
    font-family: Gabriola;
    font-size: 74px;
    line-height: .82;
    margin-bottom: 30px;
}

.hero__text {
    color: var(--general-text);
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img-control {
    width: 200px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    bottom: 4.7%;
    left: calc(100% - 11%);
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    background: #FFE0CB;
    filter: drop-shadow(0px 4px 20px rgba(184, 148, 126, 0.30));
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: "";
    position: absolute;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    inset: 5px;
    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}

/* ==================== ADAPTIVE ======================= */

@media (max-width: 900px) {
    .nav {
        background: var(--accent-bg);
        position: fixed;
        inset: 0;
        z-index: 10;
        padding: 20vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;

    }
    .nav__list {
        flex-direction: column;
        align-items: center;
    }
    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;

    }

    .burger__icon {
        display: flex;
    }
}

/* ==================== FOOTER ======================= */