.some-text-1 {
    font-family: 'Open-Sans', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    font-weight: 300;
    font-style: italic;
}
.some-text-2 {
    font-family: 'Victor Mono', 'Arial', monospace;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    font-weight: 300;
    font-style: normal;
    text-decoration: line-through;
}
.some-text-3 {
    font-family: 'Merriweather', serif;
    text-align: center;
    text-transform: uppercase;
}
.some-text-4 {
    font-family: 'Lobster', serif;
    font-size: 15;
    line-height: 30px;
    word-spacing: 40px;
    text-indent: 35px;
    text-shadow: 1px 5px 2px #d01515;
    text-decoration: wavy overline;
}
.some-text-5 {
    font-family: 'Yuji Boku', serif;
    font-size: 20px;
    letter-spacing: 5px;
    text-decoration: double underline;
}