body {
    background-color: #1e1e20;
}

.wrapper {
    padding: 50px;
    height: 100%;
}

.container {
    position: relative;
    height: 200px;
    background-color: #444;
}

.block {
    background-color: #fff;
    height: 200px;
    width: 200px;
    position: absolute;
}
/* ========================= */

.block {
    animation: move-block 2s infinite alternate 1.3s,
    color-block 2s infinite alternate 1.3s
}


@KeyFrames move-block {
    
    /* from{
    }
    to {
    } */

    0% {
left: 0px;
    }
    50% {
        border-radius: 50%;
    }
    100% {
left: calc(100% - 200px);
    }
}

@keyFrames color-block {
    0% {
        background-color: aqua;
    }
    100% {
        background-color: bisque;
    }
}